*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


# IPython Notebook
.ipynb_checkpoints

examples/text8
examples/*.zip
examples/*.vec
examples/*.clusters
examples/*.gz
examples/*.txt
examples/*.bin
examples/data/*
